<html lang="en">
{% extends 'bootstrap/base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}
{% import 'macro/macroEditar.html' as macro_tareas %}
{% import 'macro/macroModal.html' as macro_modal %}
{% block head %}
    {{fontawesome_html()}}
    <meta charset="UTF-8">
    <title>Task Manager App</title>
    <!-- The line below connects Bootstrap (as long as there is internet) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous" >
    <!-- The line below links a custom Google Fonts font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nerko+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- The line below links Font Awesome icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <!-- Popper.js script (required for Bootstrap) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- The line below connects the HTML with the CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
{% endblock %}

{% block body%}
    {% block content %}
        <head>
            <title>Task Manager App</title>
            <!-- The title of the web page (redundant, as it's also defined in the head block) -->
        </head>
        {% if modal['update'] is true %}
            <!-- If the update modal is set to true, render the update modal using a macro -->
            {{ macro_modal.render_modal("Task update", tarea_form, 'index', 'danger') }}
        {% endif %}
        <hr>
        <h1 class=" display-4 text-center mt-4 titulo">TASK MANAGER APP</h1>
            <!-- Displays the main title of the app in a large font size, centered on the page -->
        <div class = "row">
            <div class = "col-md-8 offset-md-2 my-auto">
                <!-- Centers the content and ensures it takes up 8 out of 12 columns on medium screens -->
                <div class = "card">
                    <div class = "card-header">
                    <!-- Header of the card containing the task creation form -->
                         <form action = "{{ url_for('crear')}}" method = "post">
                               <!-- Form to create a new task, posts to the 'crear' route -->
                            <div class = "input-group">
                                <input type = "text" name = "contenido_tarea" placeholder="Task" class="form-control" autofocus>
                                <!-- Input field for task content -->
                            </div>

                            <div class = "input-group">
                                <input type = "text" name = "categoria_tarea" placeholder="Category" class="form-control" autofocus>
                                <input type = "text" name = "fecha_tarea" placeholder="Deadline (DD.MM.AAAA)" class="form-control" autofocus>
                             <!-- Input fields for task category and deadline -->
                            </div>
                            <button type = "submit" class = "btn btn-primary btn-block">Saved</button>
                             <!-- Submit button for the form -->
                         </form>

                    </div>
                    <div class = "card-body text-center mt-4 " >
                        <!-- Body of the card, containing the list of tasks -->
                        <ul class = "list-group">
                            {% for tarea in lista_de_tareas: %}
                            <li class = "list-group-item">
                                <!-- Loops through each task in the task list and displays it -->
                                <label for="tarea" class = 'label_text' >Task: </label>
                                <span id = 'tarea' class="{% if tarea.hecha==true %} tarea_hecha {% endif %}" contentEditable="false" > {{tarea.contenido}}</span>
                                <!-- Displays the task content, and strikes it through if completed -->

                                <label for="categoria" class = 'label_text' class="{% if tarea.hecha==true %} tarea_hecha {% endif %}">Category: </label>
                                <span id = 'categoria'  class="{% if tarea.hecha==true %} tarea_hecha {% endif %}" > {{tarea.categoria}}</span>
                                 <!-- Displays the task category, and strikes it through if completed -->

                                <label for="fecha" class = 'label_text' >Deadline: </label>
                                <span id = 'fecha' class="{% if tarea.hecha==true %} tarea_hecha {% endif %}" > {{tarea.fecha_limite}} </span>
                                 <!-- Displays the task deadline, and strikes it through if completed -->


                                <!-- Button to mark the task as completed -->
                                <a href=" {{ url_for('hecha', id = tarea.id_tarea )}}" style = "text-decoration: none" title = 'Completed Task'>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="green" class="bi bi-check2-square" viewBox="0 0 16 16">
                                        <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z"/>
                                        <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                                    </svg>

                                </a>

                                <!-- Button to delete the task -->
                                <a href=" {{ url_for('eliminar', id = tarea.id_tarea )}}"  style = "text-decoration: none" title = 'Delete'>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="red" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                                    </svg>
                                </a>
                                <!-- Renders additional task options or actions using a macro -->
                                {{ macro_tareas.render_list(tarea)}}

                            </li>
                            {% endfor %}
                        </ul>

                    </div>
                </div>
            </div>
        </div>

{% endblock %}

{% block scripts %}
        {{ super()}}
        <!-- Calls the parent template's scripts block -->

        <!-- Loads SweetAlert2 for showing alert messages -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@latest"></script>
         <!-- Loads the custom JavaScript file ("main.js") -->
        <script src = "{{url_for('static', filename = 'main.js')}}"></script>
        <!-- Executes a JavaScript function to display any flashed messages -->
        {% with messages = get_flashed_messages(with_categories = True) %}
            {% if messages %}
                {%for category,message in messages %}
                    <script>showMessageAlert("{{category}}","{{message}}");</script>

                {% endfor %}
            {% endif %}
        {% endwith %}

{% endblock %}
 <!-- Custom scripts block for additional JavaScript -->
{% block custom_scripts %}
    {% if (modal['update'] is true) %}
        <!-- If the update modal is set to true, automatically shows the modal on page load -->
        <script>
            window.onload = function(){
                $("#macroModal").modal("show");
            }
        </script>
    {% endif %}
{% endblock %}

{% endblock body%}
